target
classes
bin
*.log
dist
node_modules

# Eclipse
.classpath
.project
.settings
.metadata

# IntelliJ IDEA
*.iml
*.ipr
*.iws
.idea
build
out
MANIFEST.MF

#gradle
gradle
.gradle

#angular
node_modules

#Python
*.pyc

#ChallengeBot
db.sqlite3
db.sqlite3-journal
logs/*.txt
sources/*.py
sources/*.pyc
sources/*.cpp
sources/*.c
backend/runners/*

