p{
   text-align: justify;

}

.example-table {
    width: 100%;
    border: solid 1px black;
}

.example-table td {
    background-color: white;
    font-family: "Lucida Console", Monaco, monospace;
}

.example-table th {
    background-color: #C1C4D3;
    color: black;
}

.example-table td, th {
    text-align: left;
    padding: 8px;
    border: 1px solid black;
}

.input {
    width: 30%;
}

.output {
    width: 20%
}

.description {
    width: 50%;
}

.hidden-help-code {
    display: none;
}