
#game-content {

}

.game-tab {
    background-color: rgba(200, 200, 200, 0.7);
    padding: 0px;
    border-radius: 10px;
    color: black;
    margin: 5px 5px 20px;
    border: solid 1px black;
    box-shadow: 0px 0px 20px 2px rgb(20, 20, 30);
}

.game-tab-content {
    padding: 5px;
}

.game-tab h2 {
    margin-top: 0px;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.8);
    color: rgb(142, 164, 255);
    text-align: center;
}

#game-data {
    width: 45%;
    display: inline-block;
    vertical-align: top;
}

table {
    width: 100%;
    height: 100%;
}

.game-table {
    width: 100%;
    display: table;
    border-collapse: collapse;
    margin: 0 auto;
}

.game-table th, td {
    text-align: left;
    padding: 8px;
    border: 1px solid black;
    text-align: center;
}

.game-table tr:nth-child(even) {
    background-color: white;
    color: black;
}

.game-table tr {
    background-color: white;
    color: black;
    border: 1px solid black;
}

.game-table th {
    background-color: #C1C4D3;
    color: black;
}

#wrapper-forms {
    display: inline-block;
    width: 54%;
    vertical-align: top;
}

#form1 {
    width: 100%;
}

#form2 {
    width: 100%;
    height: 40%;
    text-align: center;
}

p {
    color: black;
}

input[type=submit] {
    width: 100%;
    background-color: #1a1333;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#id_eligible_opponents {
    width: 100%;
    height: 100px;
    /*margin: 8px 20px;*/
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

#id_eligible_opponents option {
    /*padding: 12px 20px;*/
}

#id_selected_opponents {
    width: 100%;
    height: 100px;
    /*margin: 8px 20px;*/
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

#id_selected_opponents option {
    /*padding: 12px 20px;*/
}

#id_language {
    width: 100%;
    margin: 0px;
    margin-bottom: 10px;
    height: 50px;
    padding: 12px 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=button] {
    background-color: #20072B;
    border: none;
    color: white;
    /*padding: 15px 32px;*/
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
}

#submission-submit {
    /*margin: 8px auto;*/
    /*width: 100%;*/
    margin: auto;
    display: block;
    width: 100%;
    font-size: 1.5em;
    font-weight: bold;
}

.challenge-options {
    width: 100%;
    margin: 0 auto;
    display: inline;
    text-align: center;
    vertical-align: middle;
}

#addButton {
    background-color: #1a1333;
    width: 100%;
    height: 100%;
}

#removeButton {
    background-color: #1a1333;
    width: 100%;
    height: 100%;
}

#challenge-submit {
    margin: auto;
    display: block;
    width: 100%;
    font-size: 1.5em;
    font-weight: bold;
}

#player-level {
    display: inline-block;
    width: 7%;
    height: 30px;
    border: solid 1px black;
    text-align: center;
    vertical-align: top;
    color: rgb(142, 164, 255);
    background-color: #1a1333;
    font-size: 20px;
}

#xp-meter {
    display: inline-block;
    height: 30px;
    width: 92%;
    background-color: #0a0323;
    border: solid 1px black;
}

#xp-gain {
    height: 100%;
    background-color: #1a1373;
    width: 0%;
    transition: 5s;
}

<<<<<<< HEAD
.game-bot-table table {
    /*border-collapse: collapse;*/
    /*border: none;*/
    width: 100%;
}
=======
.hidden-help-code {
    display: none;
}

>>>>>>> master

.game-bot-table td {
    width: 33%;
}

.game-bot-table tr td {
    border: 0;
}

.game-bot-number {
    text-align: center;
    height: 0px;
}
