/* mouse over link */
.rank-button:hover {
    color: rgb(104,154,112);
    background-color: rgb(46,35,64);
}

#rank-options {
    height: 35px;
}

.rank-button {
    display: inline-block;
    height: 20px;
    width: 60px;
    text-align: center;
    color: #8eccff;
    background-color: rgb(95,84,117);
    /*background-color:*/
    padding: 2px;
    margin: 2px;
    border: solid 1px black;
}

.rank-button-left {
    float: left;
}

.rank-button-right {
    float: right;
}

.ranking-tab {
    background-color: rgba(138, 135, 151, 0.3);
    padding: 0px;
    border-radius: 10px;
    margin: 5px 5px 20px;
}

.ranking-tab-content {
    padding: 5px;
}

.ranking-tab h3 {
    margin-top: 0px;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.8);
    color: rgb(142,164,255);
    text-align: center;
}

#ranking-choose {
    width: 24%;
    display: inline-block;
    vertical-align: top;
}

#ranking-data {
    width: 75%;
    display: inline-block;
    vertical-align: top;
}

#game-select {
    width: 100%;
    margin: 0px 0px 10px;
    height: 50px;
    padding: 12px 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    color: black;
}


.ranking-table tr:nth-child(2){
    font-size: 30px;
    background-color:rgba(255,215,0,0.5);
}

.ranking-table tr:nth-child(3){
    font-size: 25px;
    background-color:rgba(192,192,192,0.5);
}

.ranking-table tr:nth-child(4){
    font-size: 20px;
    background-color:rgba(205,127,50,0.5);
}


.ranking-table tr:nth-child(2):hover{
    font-size: 30px;
    background-color: rgba(207, 167, 0, 0.5);
}

.ranking-table tr:nth-child(3):hover{
    font-size: 25px;
    background-color: rgba(167, 167, 167, 0.5);
}

.ranking-table tr:nth-child(4):hover{
    font-size: 20px;
    background-color: rgba(255, 155, 50, 0.5);
}