table {
    border-collapse: collapse;
    width: 100%;
}

td {
    text-align: center;
    border-bottom: 1px solid #ddd;
    font-style: oblique;
}

td a {
    color: white;
}

tr {
    width: 300px;
    outline: 1px solid black;
}

th {
    padding: 4px;
    text-align: center;
    border-bottom: 1px solid #ddd;
    font-style: oblique;
    color: rgb(104,154,112);
}

tr:nth-child(even){
    background-color: rgb(50,50,50);
}
tr:nth-child(odd){
    background-color: rgb(50,60,75);
}

tr:hover {
    background-color: rgb(75, 80, 90);
}