{% load static %}
<link rel="stylesheet" type='text/css' href="{% static 'web/style/about.css' %}" />

<div class="big-div">
    <div class="smaller-div" id="smaller-div-1">
        <h3>
            About us
        </h3>
        <p>
            We are a team of 6 students at the Computer Science faculty, Babes-Bolyai University in Cluj-Napoca,
            Romania. This is a project for one of our courses, Software Engineering.
        </p>
    </div>
    <div class="smaller-div" id="smaller-div-2">
        <h3>
            The team
        </h3>
        <ul>
            <li>Neagoș Bianca</li>
            <li>Suciu Irina</li>
            <li>Széll Tamás</li>
            <li>Topan Mihai</li>
            <li>Țelicov Teodora</li>
            <li>Văran Tudor (Team lead)</li>
        </ul>
    </div>
</div>