        {%load static %}
        <script type="text/javascript" src="{% static 'web/script/screen.js' %}"></script>
        {%load static %}
        <script type="text/javascript" src="{% static 'web/script/jquery-3.2.1.min.js' %}"></script>
        {% load static %}
        <link rel="stylesheet" type='text/css' href="{% static 'web/style/job.css' %}" />
        <div class="wrapper">
                <!--<input type="text" id="winner" value="{{challenge.winner.user.username}}" hidden>-->
                <br>
                <div id="screen">
                    <p id="screen-text">

                    </p>

                    <table id="screen-pixels">

                    </table>
                    <div class="controls">
                        <input class="job-controls" type="button" id="firstButton" value="<<">
                        <input class="job-controls" type="button" id="prevButton" value="<">
                        <input class="job-controls" type="button" id="nextButton" value=">">
                        <input class="job-controls" type="button" id="lastButton" value=">>">
                    </div>
                    <br>
                    <div class="controls">
                        <input class="job-controls" type="button" id="autoButton" value="Play">
                        <input class="job-field" type="text" id="autoInterval" maxlength="4" size="4" value="125">
                        <input class="job-controls" type="button" id="stopButton" value="Stop">
                    </div>
                </div>
                <div id="data" style="display: none;">
                    {% for r in rows %}
                        <p>{{r}}</p>
                    {% endfor %}
                </div>
        </div>