<div id="menu">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
    {% load static %}
    <link rel="stylesheet" type='text/css' href="{% static 'web/style/menu.css' %}" />
    {% load static %}
    <script type="text/javascript" src="{% static 'web/script/menu.js' %}"></script>
	<div id="menuhead">
		<div class="logo-container">
            <a href="/">
			    <div id="logo"></div>
			    <div id="logo-text"></div>
            </a>
            {%if username %}
            <div class="user-face"></div>
            {% else %}
            <div class="user-face" id="user-face-hiding"></div>
            {% endif %}
		</div>

        <div id="mixer">
            {% load static %}
            <img src="{% static 'web/style/res/sa.png' %}"/>
        </div>
	</div>
	<div class="menu">
		<ul>
            <div id="menu-options">
                <li><a class="left-link" href="/">Home</a></li>
                <li><a class="left-link" href="/games/">Games</a></li>
                <li><a class="left-link" href="/jobs/">Jobs</a></li>
                {% if not username %}
                <li><a class="right-link" id="login-prompt">Log in</a></li>
                <li><a class="right-link" id="register-prompt">Register</a></li>
                {% else %}
                <li><a class="left-link" href="/support/">Support</a></li>
                <li><a class="right-link" id="user-button" href="/">{{username}}</a></li>
                <li><a class="right-link" id="logout-button" href="/logout/">Log out</a></li>

                {% endif %}
                <li><a class="left-link" href="/about/">About us</a></li>

            </div>
        </ul>
	</div>
</div>
{% if not username %}
<div id="login-page" class="overlay">
    <a href="javascript:void(0)" class="closebtn" id="close-login-prompt">&times;</a>
    <div class="overlay-content">
        {% load static %}
        <img src="{% static 'web/style/res/user.png' %}">
        <form action='/auth/' method="POST">
            {% csrf_token %}
            <label>Username</label>
            <input class="inputfield" type="text" placeholder="Username" name="username" required>
            <label>Password</label>
            <input class="inputfield" type="password" placeholder="Password" name="password" required>
            <br><br>
            <input class="inputbutton" type="submit" value="Login">
        </form>
    </div>
</div>
<div id="register-page" class="overlay">
    <a href="javascript:void(0)" class="closebtn" id="close-register-prompt">&times;</a>
    <div class="overlay-content">
        {% load static %}
        <img src="{% static 'web/style/res/user.png' %}">
        <form action='/new_user/' method="POST">
            {% csrf_token %}
            <label>Username</label>
            <input class="inputfield" type="text" placeholder="Username" name="username" required><
            <label>E-mail</label>
            <input class="inputfield" type="text" placeholder="E-mail" name="email" required>
            <label>Password</label>
            <input class="inputfield" type="password" placeholder="Password" name="password" required>
            <label>Confirm password</label>
            <input class="inputfield" type="password" placeholder="Password" name="confirm-password" required>
            <br><br>
            <input class="inputbutton" type="submit" value="Register">
        </form>
    </div>
</div>
{% endif %}
