{% load mathfilters %}

{% load static %}
<link rel="stylesheet" type='text/css' href="{% static 'web/style/ranking.css' %}" />
{% load static %}
<link rel="stylesheet" type='text/css' href="{% static 'web/style/table.css' %}" />
{% load static %}
    <script type="text/javascript" src="{% static 'web/script/ranking.js' %}"></script>
<div id="ranking-choose">
    <div class="ranking-tab">
        <h3>
            Choose a game
        </h3>
        <div class="ranking-tab-content">
            <input id="current-game" type="hidden" value="{{game_id}}">
            <select id="game-select">
                <option value="">---</option>
                {% for game in games %}
                    <option value="{{game.id}}">{{ game.name }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
</div>

<div id="ranking-data">
    <div class="ranking-tab">
        <h3>
            Leaderboard
        </h3>
        <input id="position" type="hidden" value="{{position}}">
        <table id="ranking-table">
                <tr>
                    <th>#</th>
                    <th>Game</th>
                    <th>User</th>
                    <th>Level</th>
                    <th>Xp</th>
                </tr>
                {% for rank in rankings_list %}
                    <tr>
                        <td class="pos"></td>
                        <td><a href="/game/{{rank.game.id}}">{{rank.game.name}}</a></td>
                        <td>{{rank.user}}</td>
                        <td>{{rank.level}}</td>
                        <td>{{rank.xp}}</td>
                    </tr>
                {% endfor %}
        </table>
        <div id="rank-nav">
            <div id="rank-options">
                {% if rank_page != 1 %}
                <a class="rank-button rank-button-left" href="/ranking/{{game_id}}/1">Newest</a>
                {% endif %}

                {% if rank_page > 1 %}
                <a class="rank-button rank-button-left" href="/ranking/{{game_id}}/{{ job_page|sub:1 }}">Newer</a>
                {% endif %}

                {% if rank_page != max_page %}
                <a class="rank-button rank-button-right" href="/ranking/{{game_id}}/{{ max_page }}">Oldest</a>
                {% endif %}

                {% if rank_page < max_page %}
                <a class="rank-button rank-button-right" href="/ranking/{{game_id}}/{{ job_page|add:1 }}">Older</a>
                {% endif %}
            </div>
        </div>
    </div>
</div>
