    <div id="info">
        <h3>Description</h3>
        <p class="description-text">
            Battleship is a board game for two players who try to guess the location of the ships each player hides on a
            10 × 10 grid that can't be seen by their opponent. Players take turns calling out a row and column on the other
            player's grid in an attempt to name a square that contains an opponent's ship.
        </p>
        <p class="description-text">
            Before the game begins, each player secretly arranges their ships on their grid. Each ship occupies a number
            of consecutive squares on the grid, arranged either horizontally or vertically. The number of squares for each
            ship is determined by the type of the ship. The ships cannot overlap (i.e. only one ship can occupy any given
            square in the grid) or exit the grid. The types and numbers of ships allowed are the same for each player.
        </p>
        <p class="description-text">
            After the ships have been positioned, the game proceeds in a series of rounds. In each round, each player
            takes a turn to announce a target square in the opponent's grid which they choose to shot. The opponent
            announces whether or not the square is occupied by a ship. If it is, the respective square of the ship is hit.
            Otherwise, the square is marked as missed. When all of the squares of a ship have been hit, the ship sinks.
            If a player manages to sink all enemy ships, they win.
        </p>
        <h3>Type of ships allowed</h3>
        <br>
        <table class="game-table">
          <tr>
            <th>Type of ship</th>
            <th>Size</th>
            <th>Number per player</th>
          </tr>
          <tr>
            <td>Destroyer</td>
            <td>2</td>
            <td>1</td>
          </tr>
          <tr>
            <td>Submarine</td>
            <td>3</td>
            <td>2</td>
          </tr>
          <tr>
            <td>Battleship</td>
            <td>4</td>
            <td>1</td>
          </tr>
          <tr>
            <td>Carrier</td>
            <td>5</td>
            <td>1</td>
          </tr>
        </table>
        <h3>Code description</h3>
        <p class="description-text">
            Your solution will take into consideration the two different stages of the game. During stage one, players
            put their ships on the battleships grid, one at a time, from smallest to largest. During stage two, players
            take turns in shooting each other attempting to sink enemy ships.
        </p>
        <h4>Return types</h4>
        <p class="description-text">
            You will implement the class 'Solution' which contains two functions: 'put' which solves the positioning of
            the ships and 'shoot' which will handle the shooting phase. For both functions, a string object is required
            as return value. For the 'put' function, your program will return a string consisting of 4 integers
            delimited by spaces. The first two represent the starting (x, y) of the ship and the last two, the ending
            (x, y). For 'shoot', you will return a string "x y", where (x, y) represent the coordinates to shoot.
        </p>
        <h4>API description</h4>
        <p class="description-text">
            You are provided with an API object as parameter. The object has three fields available.
        </p>
        <table class="game-table">
            <tr>
                <th>Name</th>
                <th>Role</th>
                <th>Type</th>
            </tr>
            <tr>
                <td>api.my_board</td>
                <td>Stores the status of your board</td>
                <td>string[][]</td>
            </tr>
            <tr>
                <td>api_their_board</td>
                <td>Stores the status of enemy board</td>
                <td>string[][]</td>
            </tr>
            <tr>
                <td>api.next_ship_size</td>
                <td>When putting ships on grid, you are requested to provide coordinates of a ship with this size</td>
                <td>int</td>
            </tr>
        </table>
        <p class="description-text">
            Each API field has a different set of values. The their_board field can take only the values: 'hit', 'miss' or
            '' (empty string, if square has unknown status). The my_board field takes all values from their_board, but can
            also store if a ship is positioned on a square ('ship' string).
        </p>
        <h3>Tips</h3>
        <ul>
            <li>The time limit is applied to each individual function</li>
            <li>The memory limit is applied to the whole program</li>
            <li>Before challenging others, your program must to be validated</li>
            <li>Your program will end automatically after a player wins</li>
        </ul>
        <h3>Specifications</h3>
        <ul>
            <li>For 'put' function, if the 4 values are "x y z w", either x == z or y == w</li>
            <li>All values returned must be between 0 and 9</li>
            <li>Your program cannot shoot a square twice, nor put a ship twice in the same spot</li>
        </ul>
        <h3>Examples</h3>
        <table class="game-table">
            <tr>
                <th>
                    &lt;function&gt;(api)
                </th>
                <th>
                    user example output
                </th>
                <th>
                    explanation
                </th>
            </tr>
            <tr>
                <td class="input">
                    put(api)
                </td>
                <td class="output">
                    "1 2 1 3"
                </td>
                <td class="description">
                    a ship of size 2 is put on (1, 2), (1, 3)
                </td>
            </tr>
            <tr>
                <td class="input">
                    put(api)
                </td>
                <td class="output">
                    "1 3 1 6"
                </td>
                <td class="description">
                    a ship of size 4 is put on (1, 3), (1, 4), (1, 5), (1, 6)
                </td>
            </tr>
            <tr>
                <td class="input">
                    put(api)
                </td>
                <td class="output">
                    "2 4 4 4"
                </td>
                <td class="description">
                    a ship of size 3 is put on (2, 4), (3, 4), (4, 4)
                </td>
            </tr>
            <tr>
                <td class="input">
                    shoot(api)
                </td>
                <td class="output">
                    "1 2"
                </td>
                <td class="description">
                    we are shooting (1, 2) on the enemy board
                </td>
            </tr>
        </table>
        <p class="description-text"><b>Observation: you will return a variable as string, you do <i>not</i> need to return the "" at the begining
            and the end of the string</b></p>
    </div>
    {% if request.user.is_authenticated %}
    <textarea class="hidden-help-code" id="python-code">
import sys

def read_int():
    return int(sys.stdin.readline())

def read_string():
    return str(sys.stdin.readline())


def main():
    for x in xrange(5):
        print '0 0 0 0'
        sys.stdout.flush()

    for x in xrange(100):
        print 0, 0
        sys.stdout.flush()
        status = read_string()
        if status == 'miss:
            pass
        if status == 'hit':
            pass

if __name__ == '__main__':
    main()

    </textarea>
    <textarea class="hidden-help-code" id="c-code">
#include &lt;stdio.h>&gt;

int main() {
    int i = 0;
    int size;
    for (i = 0; i < 5; ++i)
    {
        scanf("%d", &size);
        printf("%d %d %d %d\n", 0, 0, 0, 0);
        fflush(stdout);
    }
    char st[9];
    int x, y;
    for (x = 0; x < 10; ++x)
        for (y = 0; y < 10; ++y) {
            printf("%d %d\n", x, y);
            fflush(stdout);
            scanf("%s", st);
        }
    return 0;
}
    </textarea>
    {% endif %}