    <div id="info">
        <h3>Description</h3>
        <p class="description-text">
            X and O is a game which is played out of boredom on a piece of paper with a 3 X 3 grid. Each player has its
            own marker, X or O. The player with X gets to start. Players take turns in placing their marker in one of the
            grid's squares. The goal of the game is for one player to obtain a full line, a full column or a full diagonal
            with their marker.
        </p>
        <h3>Code description</h3>
        <p class="description-text">
            You must implement a program which, at the begining, gets the playing mark. If playing with X, prints the
            coordinates of where X should be put, then reads the position of an O put by the opponent. If playing with
            O, your program reads the coordinates of an X put by the opponent then prints the coordinates of an O.
        </p>
        <h3>Specifications</h3>
        <ul>
            <li>The memory limit is applied to the whole program</li>
            <li>The time limit is applied for everything that happens in between reads and writes.</li>
            <li>Before challenging others, you program must be validated</li>
        </ul>
        <h3>Examples</h3>
        <h4>Example of ship putting phase</h4>
        <table class="game-table">
            <tr>
                <th>
                    Input
                </th>
                <th>
                    Ouput
                </th>
                <th>
                    Explanation
                </th>
            </tr>
            <tr>
                <td class="input">
                    "1 1"
                </td>
                <td class="output">
                    "0 0"
                </td>
                <td class="description">
                    Opponent plays on (1, 1), you write your mark on (0, 0)
                </td>
            </tr>
        </table>
    </div>
    {% if request.user.is_authenticated %}
    <textarea class="hidden-help-code" id="python-code">
import sys


def read_int():
    return int(raw_input())

def read_string():
    return str(raw_input())

def main():
    board = [[' ' for x in xrange(3)] for y in xrange(3)]
    i_play = read_string()
    if i_play == 'X':
        for i in xrange(5):
            print 0, 0
            sys.stdout.flush()

            inp = read_string()
            x, y = inp.split(' ')
            x = int(x)
            y = int(y)

    else:
        inp = ' '.join(i_play.split(' ')[1:])
        x, y = inp.split(' ')
        x = int(x)
        y = int(y)
        for i in xrange(4):
            print 0, 0
            sys.stdout.flush()

            inp = read_string()
            x, y = inp.split(' ')
            x = int(x)
            y = int(y)


if __name__ == '__main__':
    main()
    </textarea>
    <textarea class="hidden-help-code" id="c-code">
#include &lt;stdio.h&gt;

int main() {
    char playing;
    int i;
    scanf("%c", &playing);
    if (playing == 'X')
    {
        for (i = 0; i < 5; ++i)
        {
            int x, y;
            printf("0 0\n");
            fflush(stdout);
            scanf("%d %d", &x, &y);
        }
    } else {
        for (i = 0; i < 4; ++i)
        {
            int x, y;
            scanf("%d %d", &x, &y);
            printf("0 0\n");
            fflush(stdout);
        }
    }
    return 0;
}
    </textarea>
    {% endif %}